.bg {
  height: 100%;
  width: 100%;
  background: #1E1E1E;
}

.ball {
  border-radius: 50%;
  position: absolute;

  &-purple {
    left: 60%;
    top: -0.2rem;
    width: 6rem;
    height: 6rem;
    background: radial-gradient(
                  64% 64% at 27.25% 26.5%,
                  rgba(236, 208, 255, 0.64) 0%,
                  rgba(161, 93, 207, 0.24) 59.67%,
                  rgba(118, 49, 164, 0.208) 78.59%,
                  rgba(86, 24, 128, 0.232) 100%
                );
    box-shadow: 0.3rem 0.6rem 2.7rem -1rem rgba(177, 118, 217, 0.25);
    filter: blur(0.5rem);
    backdrop-filter: blur(0.2rem);
  }
  &-red {
    top: 8.3rem;
    left: 36%;
    width: 8.3rem;
    height: 8.3rem;
    background: radial-gradient(
                  64% 64% at 27.25% 26.5%,
                  rgba(255, 208, 208, 0.536) 0%,
                  rgba(212, 93, 93, 0.264) 59.67%,
                  rgba(167, 49, 49, 0.248) 78.59%,
                  rgba(130, 25, 25, 0.248) 100%
                );
    box-shadow: 0.3rem 0.6rem 2.7rem -1rem
              rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(0.2rem);
    &-small {
      width: 2.8rem;
      height: 2.8rem;
      left: 59%;
      top: 54.7rem;
      background: radial-gradient(
                    64% 64% at 27.25% 26.5%,
                    rgba(255, 208, 208, 0.48) 0%,
                    rgba(212, 93, 93, 0.248) 59.67%,
                    rgba(167, 49, 49, 0.264) 78.59%,
                    rgba(130, 25, 25, 0.232) 100%
                  );
      filter: blur(0.25rem);
    }
  }
}

.light {
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
  filter: blur(19.6rem);
  
  &-purple{
    background: #833AB4;
    width: 25.9rem;
    height: 25.9rem;
    left: 41.8%;
    top: -15.4rem;
  }

  &-red{
    background: #961A1A;
    width: 31.1rem;
    height: 31.1rem;
    left: -10.2rem;
    top: 25.1rem;
  }
}

@media screen and (max-width: 1050px) {

  .light {
    position: fixed;
    &-purple {
      left: 80%;
      top: 107px;
    }
    &-red {
      left: -5.5rem;
      top: 24.1rem;
    }
  }

  .ball {
    position: fixed;
    &-red {
      width: 4.3rem;
      height: 4.3rem;
      left: 9%;
      top: 46.2rem;
      background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
      backdrop-filter: blur(2px);
      z-index: 0;
    }
    &-gas{
      width: 4.3rem;
      height: 4.3rem;
      left: 9%;
      top: 46.2rem;
      z-index: 2;
      background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
backdrop-filter: blur(7.5px);
    }
    &-purple {
        width: 4rem;
        height: 4rem;
        left: 92.5%;
        top: 28.6rem;
        background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
        filter: blur(5px);
        backdrop-filter: blur(2px);
    }
  }
}