.footer {
  width: 114rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
  flex-direction: column;
  align-items: flex-end;
  min-height: 26rem;

  &__row {
    display: flex;
    max-height: 17.2rem;
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }

  &-container {
    height: 100%;
    width: 100%;
    background: #1E1E1E;
    display: flex;
    justify-content: center;
    max-height: 31.5rem;
  }
  
  &-list {
    display: flex;
    flex-direction: column;
    max-width: 19.9rem;
    width: 100%;
    
    margin-right: 9.2rem;

    &__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #656566;
      display: flex;
      max-width: 11rem;
      width: 100%;
    }

    &__block {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 17rem;
      max-width: 29.3rem;
      width: 100%;
    }
  }

  &-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #E4E5EA;
    margin-bottom: 1rem;
    display: inline;
    width: 100%;
    max-height: 2rem;
    max-width: 21.2rem;
    white-space: nowrap;
  }

  &-contacts {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #656566;
      margin-bottom: 2rem;
    }
    
    &__container {
      display: flex;
      flex-direction: column;
      align-items: end;

      & .messengers {
        width: 8rem;
        margin-left: 0;
        padding-top: 0.1rem;
      }

      & .phone {
        margin-top: 0;
        margin-bottom: 2rem;
      }
    }

    &__address {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.9rem;
      text-align: right;
      color: #E4E5EA;
    }
  }
}

.list-container {
  display: flex;
  max-width: 70rem;
  width: 100%;
}

.legal {
  display: flex;
  max-width: 24rem;
  width: 100%;
  flex-direction: column;
  align-items: end;
  margin-top: 3.3rem;
  padding-bottom: 2rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: left;
  color: #E4E5EA;

  &__text {
    margin-bottom: 0.5rem;
  }

  &__link {
    color: #E4E5EA;
  }
}

@media screen and (max-width: 1050px) {
  .footer {
    width: 100%;
    flex-direction: column;
    padding: 1.3rem 1.6rem 6rem;
    align-items: flex-start;
    

    &-container {
      z-index: 2;
      max-height: 72rem;

      &:first-child {
        margin-bottom: -0.2rem !important;
      }
    }

    &__row {

      flex-direction: column;
      max-height: 60rem;
    }

    &-list {

      &:last-child > div {
        & > p {
          white-space: normal;
          margin-right: 2.7rem;
          
          &:nth-of-type(1){
            order: 1;
            margin-bottom: 2.5rem;
          }
          
          &:nth-of-type(2){
            order: 2;
          }
          
          &:nth-of-type(3){
            order: 3;
          }
          
          &:nth-of-type(4){
            order: 4;
          }
          
          &:nth-of-type(5){
            order: 5;
          }
          
          &:nth-of-type(6){
            order: 7;
          }
          
          &:nth-of-type(7){
            order: 6;
            margin-bottom: 2.5rem;
          }
          
          &:nth-of-type(8){
            order: 8;
          }
          
          &:nth-of-type(9){
            order: 9;
          }
          
          &:nth-of-type(10){
            order: 10;
          }
        }
      
      }
        

      &__title {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin: 1.8rem 0 2rem;
      }

      &__block {
        max-height: 16rem;
        max-width: 100%;
        align-items: start;
        margin-top: 0;
      }
    }
    &-item {
      margin: 0 0 1rem;
      display: flex;
      flex-wrap: wrap;
      font-size: 1.4rem;
      line-height: 1.7rem;
      max-width: 12rem;
    }
    &-contacts {
      align-items: start;

      &__container {
         align-items: flex-start;
      }

      &__address {
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      &__title {
        font-size: 1.2rem;
      }
    }
  }
  .phone {
    margin: 0;
  }
  .messengers {
    margin: 0 0 0.9rem;
    width: 9.2rem !important;

    &> img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  .legal {
    font-size: 1.2rem;
    line-height: 1.5rem;
    align-items: start;
    margin-top: 5rem;

    &__text {}
  }
  .list-container {
    flex-direction: column;
    max-width: 17.1rem;
    margin-bottom: 2rem;
  }
}