.header {
  z-index: 2;
  max-width: 1140px;
  width: 100%;
  height: 73px;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E4E5EA;
    margin-top: 0.4rem;
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.2rem;

    &__contacts {
      min-width: 31rem;
      display: flex;
    }
  }
}

.logo {
  width: 14rem;
  margin-right: 5.7rem;

  &__img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.4rem;
    margin-top: 1.1rem;

    &_part2 {
      height: 14.5rem;
      width: 10rem;
      margin-left: 6px;
    
    }
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;

    color: #E4E5EA;

    min-width: 13.5rem;
    margin-top: 1.1rem;
  }
}

.nav {
  max-width: 50.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__item {
    display:inline;
  }
}

@media screen and (max-width: 1050px)  {
  .header {
    margin-top: 0;
    padding: 2rem 1.6rem;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    background: #0E1014;

    &__item {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      color: #E4E5EA;
    }
  }
  
  .logo {
    display: none;
  }

  .nav {
    margin: 0;
    padding: 0;
    justify-content: space-around;
  }

  .last {
    display: none;

  }
}