.phone {
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 2rem;
}

.messengers {
  width: 12.05rem;
  padding-top: 0.2rem;
  margin-left: 4.7rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__item {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}