.phone {
  text-decoration: none;
  margin-left: auto;
  margin-bottom: 2rem;
}

.messengers {
  width: 12.05rem;
  padding-top: 0.2rem;
  margin-left: 4.7rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__item {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1050px) {
  .phone {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-top: -2px !important;
    margin-bottom: 0.8rem !important;
  }
  .messengers {
    margin-bottom: 0.9rem;
  }
}